  <h1>Création d'un compte</h1>
  <!-- error['vide permet d'afficher la valeur attachée à la clé 'vide' du dictionnaire error -->
  {% if error['vide'] %}
    <p style="color:#F00">{{ error['vide'] }}</p>
  {% endif %}
  <form action="/envoyer" method="POST">
    <!-- Regardez le value, il permet de donner une valeur à input. Si champs['name'] est vide, value sera vide.  -->
    <label for="name_field">Nom</label>&nbsp;<input type="text" id="name_field" name="name" maxlength="25" value={{ champs['name'] }}>
    <br>
    <label for="fname_field">Prénom</label>&nbsp;<input type="text" id="fname_field" name="fname" maxlength="40" value={{ champs['fname'] }}>
    <br>
    <label for="age_field">Âge</label>&nbsp;<input type="number" id="age_field" name="age" maxlength="3" value={{ champs['age'] }}>
    <br>
    <input type="submit" value="Soumettre">
  </form>
